<div class="favorite_content">
  <div class="favorite_title">
    <h1>Favorite</h1>
  </div>

  <div class="favorite_image">
    <% @favorite_pictures.reverse.each do |favorites| %>
      <p><%= link_to image_tag(favorites.image), picture_path(favorites.id) %></p>
    <% end %>
  </div>
</div>
