<div class="mypage_content">
  <h1>Profile</h1>
  <div class="mypage_name">
    <p>
      名前<br>
      <%= @user.name %>
    </p>
  </div>
  <div class="mypage_email">
    <p>
      メールアドレス<br>
      <%= @user.email %>
    </p>
  </div>
  <%= link_to 'お気に入り一覧', favorite_users_path, class: "btn btn-default btn-lg" %>
</div>
