//users/new.html.erb
.signup_title {
  text-align: center;
  margin-bottom: 70px;
}

.signup_title h1 {
  letter-spacing: 10px;
  font-weight: lighter;
}

#user_error_explanation {
  text-align: center;
  margin-bottom: 30px;
}

#user_error_explanation p {
  color: red;
}

.signup_content {
  text-align: center;
}

.signup_content p {
  font-size: 2rem;
  letter-spacing: 2px;
  font-weight: lighter;
}

.signup_form {
  text-align: center;
  background-color: silver;
  border-radius: 10px;
}

.signup_form h2 {
  font-weight: lighter;
  color: white;
  background-color: dimgray;
  border-radius: 50px;
  padding: 10px;
  margin-top: 20px;
  width: 200px;
  display: inline-block;
}

.signup_form input {
  margin-bottom: 20px;
  width: 200px;
}

//users/show.html.erb
.mypage_content {
  text-align: center;
}

.mypage_content h1 {
  letter-spacing: 10px;
  font-weight: lighter;
  margin-bottom: 70px;
}

.mypage_content p {
  font-size: 2rem;
}

.mypage_name {
  margin-bottom: 50px;
}

.mypage_email {
  margin-bottom: 50px;
}

.mypage_content a {
  color: #313131;
  border-width: 5px;
}

.mypage_content a:hover {
  text-decoration: none;
  color: #313131;
}

//users/favorite.html.erb
.favorite_content {
  text-align: center;
}

.favorite_title h1 {
  letter-spacing: 10px;
  font-weight: lighter;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
}

.favorite_image img {
  padding: 50px;

}
